@use "./partials/_typography" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;
@use "./partials/colors" as *;

// Kyla said the selected is white, not selected is alabaster

.header {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: $bandsite-black;
  &__navbar {
    display: flex;

    @include tablet {
      // padding: 1.25rem 2.5rem;
      padding: 0.625rem 0rem 0rem 2.5rem;
    }
    @include desktop {
      padding-left: 8.5rem;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    @include tablet {
      flex-direction: row;
      align-items: normal;
    }
  }
  &__logo {
    display: flex;
    height: 4vh;
    padding-top: 1rem;
    @include margin-bottom;

    @include tablet {
      margin-bottom: 1.5rem;
      margin-right: 3.25rem;
    }
    @include desktop {
      height: 3.5vh;
    }
  }
  &__link-container {
    display: flex;
  }
  &__link-bio {
    display: flex;
    width: 50vw;
    border-bottom: 4px solid $white;
    justify-content: center;
    align-items: flex-end;

    @include tablet {
      width: 9vw;
      margin-right: 3.25rem;
      padding-bottom: 1.25rem;
    }
    @include desktop {
      width: 5vw;
      margin-right: 0rem;
    }
  }
  &__bio {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: $alabaster;
    @include subheader-text;

    @include tablet {
      margin-bottom: 0;
    }
  }
  &__link-shows {
    display: flex;
    width: 50vw;
    justify-content: center;
    // border-bottom: 4px solid $white;

    @include tablet {
      width: 9vw;
      padding-bottom: 1.5rem;
    }
  }
  &__shows {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: $white;
    @include subheader-text;

    @include tablet {
      margin-bottom: 0;
      align-items: flex-end;
    }
  }

  &__hero {
    display: flex;
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);
    height: 24vh;
    color: $white;
    align-items: center;

    @include tablet {
      height: 45vh;
    }
    @include desktop {
      height: 64vh;
      background-position: left bottom -8.5rem;
    }
  }
  &__hero-title {
    font-family: "Avenir-2";
    font-size: 1.5rem;
    margin-left: 1rem;

    @include tablet {
      margin-left: 2.5rem;
      @include header-page-text-tablet-desktop;
      margin-bottom: 4rem;
      // @include header-section-text-tablet-desktop;
    }
    @include desktop {
      margin-bottom: 2rem;
      margin-left: 8.5rem;
      font-size: 3.75rem;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 1rem;

  @include tablet {
    margin-left: 2.5rem;
  }

  &__title {
    font-family: "Avenir-2";
    @include header-text;
    margin-top: 1.5rem;

    @include tablet {
      margin-top: 2.5rem;
      margin-bottom: 2.25rem;
      @include header-section-text-tablet-desktop;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      margin: 0 auto;
      width: 75vw;
    }
  }
  &__image {
    @include margin-bottom;
    height: 19vh;

    @include tablet {
      margin-top: 0;
      margin-bottom: 2.25rem;
      width: 75vw;
      height: 35vh;
    }
  }
  &__quote {
    font-family: "Avenir-2";
    @include subheader-text;
    // @include margin-bottom;

    @include tablet {
      // margin: 0 auto;
      width: 75vw;
      // @include subheader-text-tablet-desktop;
      // Should be set to what's on top but this is the closest
      // I can get
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
  &__author {
    font-family: "Avenir-2";
    @include subheader-text;
    @include margin-bottom;
    margin-top: 1rem;

    @include tablet {
      // Made this 24px instead of 36px, visually looks better
      margin-top: 1.5rem;
      margin-bottom: 0;
      // Should be 0.875 but this is closer to mockup
      font-size: 1rem;
      // margin-left: 3.5rem;
    }
  }
  &__sub-title {
    font-family: "Avenir-2";
    @include subheader-text;
    @include margin-bottom;

    @include tablet {
      // margin-left: 3.5rem;
      margin-bottom: 24px;
      margin-top: 40px;
      @include subheader-text-tablet-desktop;
    }
  }
  &__paragraphs {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      // margin-left: 3.5rem;
      width: 78vw;
      padding-bottom: 2.25rem;
    }
  }
  &__paragraph-one {
    @include body-text;
    @include margin-bottom;
    width: 88vw;

    @include tablet {
      width: 36vw;
      @include body-text-tablet-desktop;
      margin-bottom: 0;
    }
  }
  &__paragraph-two {
    @include body-text;
    @include margin-bottom;
    width: 87vw;

    @include tablet {
      width: 36vw;
      @include body-text-tablet-desktop;
      margin-left: 0.625rem;
      margin-bottom: 0;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 24px 16px 0 16px;
  background-color: $alabaster;

  @include tablet {
    padding: 3rem 0rem 1rem 2.5rem;
  }

  &__title {
    font-family: "Avenir-2";
    @include header-text;
    @include margin-bottom;

    @include tablet {
      @include header-section-text-tablet-desktop;
      margin-bottom: 2.25rem;
    }
  }
  &__image-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      width: 93vw;
      flex-wrap: wrap;
    }
  }
  &__image {
    @include margin-bottom;

    @include tablet {
      width: 28vw;
      margin-right: 1.3rem;
    }
  }
}

.footer {
  // This might be wrong
  background-color: $bandsite-black;
  display: flex;
  flex-direction: column;
  color: $white;
  padding-left: 1rem;
  padding-bottom: 1rem;
  @include body-text;

  @include tablet {
    padding: 0rem 2.5rem 2.5rem 2.5rem;
    @include footer-tablet-desktop;
  }

  &__socials {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      width: 89vw;
      justify-content: space-between;
      margin-bottom: 2.25rem;
      padding-top: 3rem;
      align-items: center;
    }
  }

  &__title {
    // Not sure
    font-family: "Avenir-2";
    @include header-text;
    padding-top: 1.5rem;
    @include margin-bottom;

    @include tablet {
      margin-bottom: 0;
      padding-top: 0;
      font-size: 2.25rem;
    }
  }

  &__logos {
    display: flex;
    @include margin-bottom;

    @include tablet {
      margin-right: 9.25rem;
      margin-bottom: 0;
    }
  }
  &__logo {
    height: 1.5625rem;
    margin-right: 1.5625rem;
  }
  &__bandsite-logo {
    display: none;
    margin-top: 1.5rem;
    @include margin-bottom;
    max-height: 1.25rem;
    max-width: 7.5rem;

    @include tablet {
      display: flex;
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;
      height: 7.5rem;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 89vw;
    }
  }
  &__cam-container {
    display: flex;
    flex-direction: column;

    @include tablet {
    }
  }
  &__cam {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    &--bold {
      font-family: "Avenir-2";
    }
  }
  &__bees-address {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }
  &__bees-email {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }
  &__pearl-container {
    display: flex;
    flex-direction: column;

    @include tablet {
    }
  }
  &__pearl {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    &--bold {
      font-family: "Avenir-2";
    }
  }
  &__limit-description {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }
  &__limit-email {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }
  &__carson-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-right: 0.5rem;
    }
  }
  &__carson {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    &--bold {
      font-family: "Avenir-2";
    }
  }
  &__arch-description {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }
  &__arch-email {
  }
  &__bandsite-logo-two {
    margin-top: 1.5rem;
    @include margin-bottom;
    max-height: 1.25rem;
    max-width: 7.5rem;

    @include tablet {
      display: none;
    }
  }
  &__copyright {
    font-size: 0.6875rem;
    line-height: 1.25rem;

    @include tablet {
      font-size: 0.8125rem;
    }
  }
}
