@use "./partials/_typography" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;
@use "./partials/colors" as *;

.header {
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $bandsite-black;

  &__navbar {
    display: flex;

    @include tablet {
      padding: 0.625rem 0rem 0rem 2.25rem;
    }
    @include desktop {
      padding-left: 8.5rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    @include tablet {
      flex-direction: row;
      align-items: normal;
    }
  }

  &__logo {
    display: flex;
    padding-top: 1rem;
    @include margin-bottom;

    @include tablet {
      margin-bottom: 1.5rem;
      margin-right: 3.25rem;
    }
    @include desktop {
      height: 3.5vh;
    }
  }

  &__link-container {
    display: flex;
  }

  &__link-bio {
    display: flex;
    width: 50vw;
    border-bottom: 4px solid $white;
    justify-content: center;
    align-items: flex-end;

    @include tablet {
      width: 9vw;
      margin-right: 3.25rem;
      padding-bottom: 1.25rem;
    }
    @include desktop {
      width: 5vw;
      margin-right: 0rem;
    }
  }

  &__bio {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: $alabaster;
    @include subheader-text;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__link-shows {
    display: flex;
    width: 50vw;
    justify-content: center;

    @include tablet {
      width: 9vw;
      padding-bottom: 1.5rem;
    }
  }

  &__shows {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: $white;
    @include subheader-text;

    @include tablet {
      margin-bottom: 0;
      align-items: flex-end;
    }
  }

  &__hero {
    display: flex;
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);
    height: 24vh;
    color: $white;
    align-items: center;

    @include tablet {
      height: 45vh;
    }
    @include desktop {
      height: 64vh;
      background-position: left bottom -8.5rem;
    }
  }

  &__hero-title {
    font-family: "Avenir-2";
    font-size: 1.5rem;
    margin-left: 1rem;

    @include tablet {
      margin-left: 2.25rem;
      font-size: 3.75rem;
      line-height: 4.25rem;
      margin-bottom: 4rem;
    }
    @include desktop {
      margin-bottom: 2rem;
      margin-left: 8.5rem;
      font-size: 3.75rem;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;

  @include tablet {
    padding: 0;
  }
  @include desktop {
  }

  &__title-container {
    display: flex;
    padding-left: 1rem;

    @include tablet {
      margin-left: 2.25rem;
      padding-left: 0rem;
      padding-top: 2.5rem;
    }

    @include desktop {
      margin-left: 8.5rem;
    }
  }

  &__title {
    font-family: "Avenir-2";
    @include header-text;

    @include tablet {
      padding-bottom: 2.25rem;
      @include header-section-text-tablet-desktop;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 0rem 1rem;

    @include tablet {
      width: 100vw;
      align-items: center;
      padding: 0;
    }
  }

  &__image {
    @include margin-bottom;
    height: 19vh;

    @include tablet {
      margin-top: 0;
      margin-bottom: 2.25rem;
      width: 75vw;
      height: 35vh;
    }
    @include desktop {
      width: 65vw;
      height: 50vh;
    }
  }

  &__quote {
    display: flex;
    font-family: "Avenir-2";
    @include body-text;

    @include tablet {
      width: 75vw;
      font-size: 1.4rem;
      line-height: 2rem;
    }
    @include desktop {
      width: 65vw;
      padding-right: 10rem;
    }
  }

  &__author {
    font-family: "Avenir-2";
    @include body-text;
    @include margin-bottom;
    margin-top: 1rem;

    @include tablet {
      margin-top: 1.5rem;
      margin-bottom: 0;
      width: 75vw;
      font-size: 1rem;
    }
    @include desktop {
      width: 65vw;
    }
  }

  &__sub-title {
    font-family: "Avenir-2";
    @include body-text;
    @include margin-bottom;

    @include tablet {
      width: 75vw;
      margin-bottom: 24px;
      margin-top: 40px;
      @include subheader-text-tablet-desktop;
    }
    @include desktop {
      width: 65vw;
    }
  }

  &__paragraphs {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      width: 75vw;
      padding-bottom: 2.25rem;
    }
    @include desktop {
      width: 65vw;
    }
  }

  &__paragraph-one {
    @include body-text;
    @include margin-bottom;
    width: 88vw;

    @include tablet {
      width: 37.5vw;
      @include body-text-tablet-desktop;
      margin-bottom: 0;
    }
    @include desktop {
      width: 32.5vw;
    }
  }

  &__paragraph-two {
    @include body-text;
    @include margin-bottom;
    width: 87vw;

    @include tablet {
      width: 37.5vw;
      @include body-text-tablet-desktop;
      margin-left: 0.625rem;
      margin-bottom: 0;
    }
    @include desktop {
      width: 32.5vw;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: $alabaster;

  &__title-container {
    display: flex;
    padding-left: 1rem;

    @include tablet {
      margin-left: 2.25rem;
      padding-left: 0rem;
      padding-top: 2.5rem;
    }

    @include desktop {
      margin-left: 8.5rem;
    }
  }

  &__title {
    font-family: "Avenir-2";
    @include header-text;
    @include margin-bottom;
    padding: 1.5rem 0rem 0rem 1rem;

    @include tablet {
      @include header-section-text-tablet-desktop;
      padding: 0 0 2.25rem 0;
      margin-bottom: 0;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 0rem 1rem;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 2.25rem;
    }
  }

  &__image {
    @include margin-bottom;

    @include tablet {
      width: 28vw;
      margin-bottom: 0;
    }
    @include desktop {
      width: 25vw;
    }
  }

  &__image-middle {
    @include tablet {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }
  &__image-center {
    @include tablet {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.footer {
  background-color: $bandsite-black;
  display: flex;
  flex-direction: column;
  color: $white;
  @include body-text;

  @include tablet {
    @include subheader-text;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    position: relative;

    @include tablet {
      flex-direction: row;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      justify-content: space-between;
      margin-bottom: 2.25rem;
      padding-top: 2.5rem;
      align-items: center;
    }
    @include desktop {
      padding-left: 8.25rem;
      padding-right: 8.25rem;
    }
  }

  &__socials-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__title {
    font-family: "Avenir-2";
    @include header-text;
    padding-top: 1.5rem;
    @include margin-bottom;

    @include tablet {
      margin-bottom: 0;
      padding-top: 0;
      font-size: 2.25rem;
    }
    @include desktop {
    }
  }

  &__logos {
    display: flex;
    @include margin-bottom;

    @include tablet {
      margin-right: 10rem;
      margin-bottom: 0;
    }
  }

  &__logo {
    height: 1.5625rem;
    margin-right: 1.5625rem;
  }

  &__bandsite-logo {
    display: none;
    margin-top: 1.5rem;
    @include margin-bottom;
    max-height: 1.25rem;
    max-width: 7.5rem;

    @include tablet {
      display: flex;
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;
      height: 7.5rem;
    }
    @include desktop {
      margin-left: 16rem;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding-left: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
    @include desktop {
      padding-left: 8.25rem;
      padding-right: 8.25rem;
    }
  }

  &__cam-container {
    display: flex;
    flex-direction: column;
  }

  &__cam {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    &--bold {
      font-family: "Avenir-2";
    }
  }

  &__bees-address {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }

  &__bees-email {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__pearl-container {
    display: flex;
    flex-direction: column;
  }

  &__pearl {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    &--bold {
      font-family: "Avenir-2";
    }
  }

  &__limit-description {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }

  &__limit-email {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__carson-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-right: 0.5rem;
    }
    @include desktop {
      margin-right: 16.5rem;
    }
  }

  &__carson {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }

    &--bold {
      font-family: "Avenir-2";
    }
  }

  &__arch-description {
    @include margin-bottom;

    @include tablet {
      margin-bottom: 2.25rem;
    }
  }

  &__bandsite-logo-two {
    margin-top: 1.5rem;
    @include margin-bottom;
    max-height: 1.25rem;
    max-width: 7.5rem;
    padding-left: 1rem;

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    font-size: 0.6875rem;
    line-height: 1.25rem;
    padding-left: 1rem;

    @include tablet {
      font-size: 0.8125rem;
      padding-left: 2.25rem;
      padding-bottom: 2.25rem;
    }

    @include desktop {
      padding-right: 8.25rem;
      padding-left: 8.25rem;
    }
  }
}
