@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format(opentype), url(../../assets/fonts/AvenirNextLTPro.ttf) format(opentype);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-2";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format(opentype), url(../../assets/fonts/AvenirNextLTProDemi.ttf) format(opentype);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-3";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format(opentype), url(../../assets/fonts/AvenirNextLTProBold.ttf) format(opentype);
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #323232;
}
.header__navbar {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__navbar {
    padding: 0.625rem 0rem 0rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__navbar {
    padding-left: 8.5rem;
  }
}
.header__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .header__links {
    flex-direction: row;
    align-items: normal;
  }
}
.header__logo {
  display: flex;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-bottom: 1.5rem;
    margin-right: 3.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    height: 3.5vh;
  }
}
.header__link-container {
  display: flex;
}
.header__link-bio {
  display: flex;
  width: 50vw;
  border-bottom: 4px solid #ffffff;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .header__link-bio {
    width: 9vw;
    margin-right: 3.25rem;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__link-bio {
    width: 5vw;
    margin-right: 0rem;
  }
}
.header__bio {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: #fafafa;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__bio {
    margin-bottom: 0;
  }
}
.header__link-shows {
  display: flex;
  width: 50vw;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__link-shows {
    width: 9vw;
    padding-bottom: 1.5rem;
  }
}
.header__shows {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__shows {
    margin-bottom: 0;
    align-items: flex-end;
  }
}

.hero {
  display: flex;
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);
  height: 24vh;
  color: #ffffff;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 45vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 64vh;
    background-position: left bottom -8.5rem;
  }
}
.hero__title {
  font-family: "Avenir-2";
  font-size: 1.5rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-left: 2.25rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 2rem;
    margin-left: 8.5rem;
    font-size: 3.75rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0;
  }
}
.about__title-container {
  display: flex;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .about__title-container {
    margin-left: 2.25rem;
    padding-left: 0rem;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title-container {
    margin-left: 8.5rem;
  }
}
.about__title {
  font-family: "Avenir-2";
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__container {
    width: 100vw;
    align-items: center;
    padding: 0;
  }
}
.about__image {
  margin-bottom: 1rem;
  height: 19vh;
}
@media screen and (min-width: 768px) {
  .about__image {
    margin-top: 0;
    margin-bottom: 2.25rem;
    width: 75vw;
    height: 35vh;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    width: 65vw;
    height: 50vh;
  }
}
.about__quote {
  display: flex;
  font-family: "Avenir-2";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    width: 75vw;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    width: 65vw;
    padding-right: 10rem;
  }
}
.about__author {
  font-family: "Avenir-2";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .about__author {
    margin-top: 1.5rem;
    margin-bottom: 0;
    width: 75vw;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__author {
    width: 65vw;
  }
}
.about__sub-title {
  font-family: "Avenir-2";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__sub-title {
    width: 75vw;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__sub-title {
    width: 65vw;
  }
}
.about__paragraphs {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__paragraphs {
    flex-direction: row;
    width: 75vw;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__paragraphs {
    width: 65vw;
  }
}
.about__paragraph-one {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
  width: 88vw;
}
@media screen and (min-width: 768px) {
  .about__paragraph-one {
    width: 37.5vw;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__paragraph-one {
    width: 32.5vw;
  }
}
.about__paragraph-two {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
  width: 87vw;
}
@media screen and (min-width: 768px) {
  .about__paragraph-two {
    width: 37.5vw;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-left: 0.625rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__paragraph-two {
    width: 32.5vw;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.gallery__title-container {
  display: flex;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title-container {
    margin-left: 2.25rem;
    padding-left: 0rem;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title-container {
    margin-left: 8.5rem;
  }
}
.gallery__title {
  font-family: "Avenir-2";
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 0 0 2.25rem 0;
    margin-bottom: 0;
  }
}
.gallery__image-container {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__image-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 0rem 2.25rem 0rem;
  }
}
.gallery__image {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 28vw;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    width: 25vw;
  }
}
@media screen and (min-width: 768px) {
  .gallery__image-middle {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__image-center {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.comments {
  padding-right: 1rem;
  padding-left: 1rem;
}
.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer__socials {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    flex-direction: row;
    padding: 2.5rem 2.25rem 2.25rem 2.25rem;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    padding-left: 8.25rem;
    padding-right: 8.25rem;
  }
}
.footer__title {
  font-family: "Avenir-2";
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 2.25rem;
  }
}
.footer__logos {
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logos {
    margin-right: 10rem;
    margin-bottom: 0;
  }
}
.footer__logo {
  height: 1.5625rem;
  margin-right: 1.5625rem;
}
.footer__bandsite-logo {
  display: none;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__bandsite-logo {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__bandsite-logo {
    margin-left: 16rem;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    padding-left: 8.25rem;
    padding-right: 8.25rem;
  }
}
.footer__cam-container {
  display: flex;
  flex-direction: column;
}
.footer__cam {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__cam {
    margin-bottom: 2.25rem;
  }
}
.footer__cam--bold {
  font-family: "Avenir-2";
}
.footer__bees-address {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__bees-address {
    margin-bottom: 2.25rem;
  }
}
.footer__bees-email {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__bees-email {
    margin-bottom: 0;
  }
}
.footer__pearl-container {
  display: flex;
  flex-direction: column;
}
.footer__pearl {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__pearl {
    margin-bottom: 2.25rem;
  }
}
.footer__pearl--bold {
  font-family: "Avenir-2";
}
.footer__limit-description {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__limit-description {
    margin-bottom: 2.25rem;
  }
}
.footer__limit-email {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__limit-email {
    margin-bottom: 0;
  }
}
.footer__carson-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__carson-container {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__carson-container {
    margin-right: 17rem;
  }
}
.footer__carson {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__carson {
    margin-bottom: 2.25rem;
  }
}
.footer__carson--bold {
  font-family: "Avenir-2";
}
.footer__arch-description {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__arch-description {
    margin-bottom: 2.25rem;
  }
}
.footer__bandsite-logo-two {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-height: 1.25rem;
  max-width: 7.5rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__bandsite-logo-two {
    display: none;
  }
}
.footer__copyright {
  font-size: 0.6875rem;
  line-height: 1.25rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.8125rem;
    padding-left: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding-right: 8.25rem;
    padding-left: 8.25rem;
  }
}/*# sourceMappingURL=bio.css.map */