@use "./partials/_typography" as *;
@use "./partials/_mixins" as *;
@use "./partials/colors" as *;
@use "./partials/variables" as *;

.hero {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);

  @include tablet {
    height: 55vh;
    padding: 0 0 0 2.25rem;
  }

  @include desktop {
    justify-content: center;
    padding-left: 8.25rem;
    padding-right: 8.25rem;
    height: 70vh;
    background-position: 40% 35%;
  }

  &__album {
    font-family: "Avenir-2";
    @include body-text-tablet-desktop;

    @include tablet {
      @include subheader-text-tablet-desktop;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      padding-bottom: 5rem;
    }
  }

  &__heading {
    @include header-text;
    font-family: "Avenir-3";
    padding: 1rem 2rem 1rem 0;

    @include tablet {
      font-size: 3.75rem;
      line-height: 3.75rem;
      padding: 2.25rem 6rem 2.25rem 0;
    }
    @include desktop {
      margin-right: 0;
      width: 44vw;
      padding-right: 2rem;
    }
  }
  &__iframe {
    height: 15vh;
    width: 90vw;

    @include tablet {
      width: 57vw;
    }
    @include desktop {
      width: 35vw;
      height: 15vh;
    }
  }
}

.shows {
  display: flex;
  flex-direction: column;
  // Is this right?
  @include subheader-text;
  padding-left: 1rem;
  padding-right: 1rem;

  @include tablet {
    @include body-text-tablet-desktop;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  @include desktop {
    flex-direction: row;
  }

  &__title {
    @include header-text;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-family: "Avenir-2";

    @include tablet {
      font-size: 2.5rem;
      line-height: 2.75rem;
      padding-bottom: 2.5rem;
      padding-top: 2.5rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $mercury;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__dates {
    padding-bottom: 1rem;
  }
  &__small-text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: $silver;

    @include tablet {
      padding-bottom: 1.5rem;
    }
  }
  &__middle-text {
    font-size: 1rem;

    @include tablet {
      padding-bottom: 1.5rem;
    }

    &--bold {
      font-family: "Avenir-2";
    }
  }
  &__venue {
    padding-bottom: 1rem;
  }
  &__location {
    padding-bottom: 1rem;
  }
  &__button-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }
  &__button {
    width: 90vw;
    background-color: $bandsite-black;
    color: $white;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Avenir-2";
    margin-bottom: 1rem;

    @include tablet {
      width: 22vw;
      height: 7vh;
    }
  }
}
